.slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  &__item {
    padding: 30px 5%;

    &.slider0 {
      display: none;
    }

    &:nth-child(2n) {
      background: #eee;
    }
  }
}
