html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    script 
      include /pages/testsSlider/mochaJS.js
    script 
      include /pages/testsSlider/chai.js
    
  body
    include /pages/testsSlider/testsSlider.pug

    div(id="mocha")
    
    script(src="/index.js")
    script(src="/pages/testsSlider/testsSlider.ts")