.demoSlider{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  .sliderConf{
    min-width: 400px;
    
    .checkbox{
      display: flex;
      justify-content: flex-start;
    }

    .sliderConf_block{
      display: none;

      .sliderConf_block_item{
        display: flex;
        flex-wrap: wrap;

        .sliderConf_block_item_option{
          margin: 5px;
        }
      }
    }

    .inputText_input {
      width: 150px;
    }
  }

  .demoSlider_blk{
    margin-left: 20px;
    width: 100%;//400px;//267px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 35px;

    .demoSlider_blk_slider{
      margin-top: 30px;

      .rangeSlider{
        width: 400px;
      }
      .sliderConf{
        width: 100%;
      }
      p{
        color: rgba(31, 32, 65, 0.5);
        font-size: 12px;
        margin: 0;			
      }
    }	
  }
}