include /ui_kit/form_elements/rangeSlider/rangeSlider.pug

include /ui_kit/form_elements/inputText/inputText.pug
include /ui_kit/form_elements/radiobutton/radiobutton.pug
include /ui_kit/form_elements/checkbox/checkbox.pug
include /ui_kit/form_elements/btn/btn.pug

include /demoSlider/mixin_demoSlider.pug


div.content
  div.content_container.demoSlider
    div.demoSlider_blk
          
      div.demoSlider_blk_slider.slider1
        +rangeSlider("диапазон цены",0,100000,"idPrice1")
        +sliderConfig("1")

      div.demoSlider_blk_slider.slider2
        +rangeSlider("диапазон цены",100,1000,"idPrice2")
        +sliderConfig("2")
          
      div.demoSlider_blk_slider.slider3
        +rangeSlider("диапазон цены",0,100000,"idPrice3")
        +sliderConfig("3")

      div.demoSlider_blk_slider.slider4
        +rangeSlider("диапазон цены",100,1000,"idPrice4")
        +sliderConfig("4")
    
      div.demoSlider_blk_slider.slider5
        +rangeSlider("диапазон цены",100,1000,"idPrice5")
        +sliderConfig("5")


script(src="/demoSlider/run_demoSlider.ts")
div(id="mocha")