include ~@Blocks/range-slider/range-slider.pug
include ~@Blocks/input-text/input-text.pug
include ~@Blocks/radiogroup/radiogroup.pug
include ~@Blocks/checkbox-list/checkbox-list.pug


mixin sliderConfig({ id })
  div.slider-config
    +checkboxList(
      {
        items : [
          {
            label : "Настройки", 
            id : id,
          }
        ]
      }
    )

    div.slider-config__block
      div.slider-config__block-items
        div.slider-config__option
          h2 Шкала
          +radiogroup(
            {
              nameGroup : "rbGroopScale"+id,
              idMainBlock : id,
              items : [
                {
                  text : "Вкл",
                  check : "checked"
                },
                {
                  text : "Выкл"
                }
              ]
            }
          )
          +inputText(
            {
              topic : "Кол-во делений",
              inputText : "10",
              id : "scaleStep"+id,
            }
          )
          +inputText(
            {
              topic : "Шаг",
              inputText : "2",
              id : "step"+id,
            }
          )

        div.slider-config__option
          +inputText(
            {
              topic : "min",
              inputText : "0",
              id : "min"+id,
            }
          )
          +inputText(
            {
              topic : "max",
              inputText : "1000",
              id : "max"+id,
            }
          )

        div.slider-config__option
          +inputText(
            {
              topic : "min текущий",
              inputText : "50",
              id : "minStart"+id,
            }
          )
          +inputText(
            {
              topic : "max текущий",
              inputText : "500",
              id : "maxStart"+id,
            }
          )

        div.slider-config__option
          h2 Тип
          +radiogroup(
            {
              nameGroup : "rbGroopType"+id,
              idMainBlock : id,
              items : [
                {
                  text : "Диапазон значений",
                  check : "checked"
                },
                {
                  text : "От 0 до выбранного"
                },
                {
                  text : "Единичное значение"
                }
              ]
            }
          )

        div.slider-config__option
          h2 Ориентация
          +radiogroup(
            {
              nameGroup : "rbGroopOrientation"+id,
              idMainBlock : id,
              items : [
                {
                  text : "Горизонтальная",
                  check : "checked"
                },
                {
                  text : "Вертикальная"
                }
              ]
            }
          )

        div.slider-config__option
          h2 Числовой диапазон
          +radiogroup(
            {
              nameGroup : "rbGroopValue"+id,
              idMainBlock : id,
              items : [
                {
                  text : "Вкл",
                  check : "checked"
                },
                {
                  text : "Выкл"
                }
              ]
            }
          )