include ~@Blocks/range-slider/range-slider.pug
include ~@Blocks/input-text/input-text.pug
include ~@Blocks/radiogroup/radiogroup.pug
include ~@Blocks/checkbox-list/checkbox-list.pug


mixin sliderConfig({ id })
  .slider-config
    +checkboxList(
      {
        items : [
          {
            label : "Настройки", 
            id : id,
          }
        ]
      }
    )

    .slider-config__block
      .slider-config__block-items
        .slider-config__option
          h2 Шкала
          .slider-config__option-item
            +radiogroup(
              {
                nameGroup : "rbGroopScale"+id,
                idMainBlock : id,
                items : [
                  {
                    text : "Вкл",
                    check : "checked"
                  },
                  {
                    text : "Выкл"
                  }
                ]
              }
            )
          .slider-config__option-item
            +inputText(
              {
                topic : "Кол-во делений",
                inputText : "10",
                id : "scaleStep"+id,
              }
            )
          .slider-config__option-item
            +inputText(
              {
                topic : "Шаг",
                inputText : "2",
                id : "step"+id,
              }
            )

        .slider-config__option
          .slider-config__option-item
            +inputText(
              {
                topic : "min",
                inputText : "0",
                id : "min"+id,
              }
            )
          .slider-config__option-item
            +inputText(
              {
                topic : "max",
                inputText : "1000",
                id : "max"+id,
              }
            )

        .slider-config__option
          .slider-config__option-item
            +inputText(
              {
                topic : "min текущий",
                inputText : "50",
                id : "minStart"+id,
              }
            )
          .slider-config__option-item
            +inputText(
              {
                topic : "max текущий",
                inputText : "500",
                id : "maxStart"+id,
              }
            )

        .slider-config__option.slider-config__option_wide
          h2 Тип
          .slider-config__option-item
            +radiogroup(
              {
                nameGroup : "rbGroopType"+id,
                idMainBlock : id,
                items : [
                  {
                    text : "Диапазон значений",
                    check : "checked"
                  },
                  {
                    text : "От 0 до выбранного"
                  },
                  {
                    text : "Единичное значение"
                  }
                ]
              }
            )

        .slider-config__option.slider-config__option_wide
          h2 Ориентация
          .slider-config__option-item
            +radiogroup(
              {
                nameGroup : "rbGroopOrientation"+id,
                idMainBlock : id,
                items : [
                  {
                    text : "Горизонтальная",
                    check : "checked"
                  },
                  {
                    text : "Вертикальная"
                  }
                ]
              }
            )

        .slider-config__option
          h2 Числовой диапазон
          .slider-config__option-item
            +radiogroup(
              {
                nameGroup : "rbGroopValue"+id,
                idMainBlock : id,
                items : [
                  {
                    text : "Вкл",
                    check : "checked"
                  },
                  {
                    text : "Выкл"
                  }
                ]
              }
            )