


include /blocks/rangeSlider/rangeSlider.pug

include /blocks/inputText/inputText.pug
include /blocks/radiogroup/radiogroup.pug
include /blocks/checkboxList/checkboxList.pug


mixin sliderConfig(obj)
  div.slider-config
    +checkboxList(
      { 
        stateHide : ""
      },
      {
        label : "Настройки", 
        id : obj.id,
        p : "", 
        p__dopclass : ""
      }
      )

    div.slider-config__block
      div.slider-config__block-items
        div.slider-config__option
          h2 Шкала
          +radiogroup(
            {
              nameGroup : "rbGroopScale"+obj.id,
              idMainBlock : obj.id
            },
            {
              text : "Вкл",
              check : "checked"
            },
            {
              text : "Выкл"
            }
            )
          +inputText(
            {
              topic : "Кол-во делений",
              label : "",
              placeholder : "",
              inputText : "10",
              state : "",
              id : "scaleStep"+obj.id
            }
            )
          +inputText(
            {
              topic : "Шаг",
              label : "",
              placeholder : "",
              inputText : "2",
              state : "",
              id : "step"+obj.id
            }
            )

        div.slider-config__option
          +inputText(
            {
              topic : "min",
              label : "",
              placeholder : "",
              inputText : "0",
              state : "",
              id : "min"+obj.id
            }
            )
          +inputText(
            {
              topic : "max",
              label : "",
              placeholder : "",
              inputText : "1000",
              state : "",
              id : "max"+obj.id
            }
            )
        div.slider-config__option
          +inputText(
            {
              topic : "min текущий",
              label : "",
              placeholder : "",
              inputText : "50",
              state : "",
              id : "minStart"+obj.id
            }
            )
          +inputText(
            {
              topic : "max текущий",
              label : "",
              placeholder : "",
              inputText : "500",
              state : "",
              id : "maxStart"+obj.id
            }
            )

        div.slider-config__option
          h2 Тип
          +radiogroup(
            {
              nameGroup : "rbGroopType"+obj.id,
              idMainBlock : obj.id
            },
            {
              text : "Диапазон значений",
              check : "checked"
            },
            {
              text : "От 0 до выбранного"
            },
            {
              text : "Единичное значение"
            }
            )
        div.slider-config__option
          h2 Ориентация
          +radiogroup(
            {
              nameGroup : "rbGroopOrientation"+obj.id,
              idMainBlock : obj.id
            },
            {
              text : "Горизонтальная",
              check : "checked"
            },
            {
              text : "Вертикальная"
            }
            )
      
        div.slider-config__option
          h2 Числовой диапазон
          +radiogroup(
            {
              nameGroup : "rbGroopValue"+obj.id,
              idMainBlock : obj.id
            },
            {
              text : "Вкл",
              check : "checked"
            },
            {
              text : "Выкл"
            }
            )
