include /blocks/rangeSlider/rangeSlider.pug
include /blocks/sliderConfig/sliderConfig.pug

div.slider
  div.slider__item.slider1
    +rangeSlider(
      {
        topic : "Обычный, диапазон",
        labelMin : 0,
        labelMax : 10000,
        id : "idSlider1",
        postText : ""
      }
      )
    +sliderConfig(
      {
        id : "1"
      }
      )
  div.slider__item.slider2
    +rangeSlider(
      {
        topic : "С шагом, диапазон",
        labelMin : 0,
        labelMax : 10000,
        id : "idSlider2",
        postText : ""
      }
      )
    +sliderConfig(
      {
        id : "2"
      }
      )