include ~@Blocks/range-slider/range-slider.pug
include ~@Blocks/slider-config/slider-config.pug


.slider

  .slider__item.slider1
    +rangeSlider(
      {
        topic : "Обычный, диапазон",
        id : "idSlider1",
      }
    )
    +sliderConfig({ id : "1" })

  .slider__item.slider2
    +rangeSlider(
      {
        topic : "С шагом, от начала до Х",
        id : "idSlider2",
      }
    )
    +sliderConfig({ id : "2" })

  .slider__item.slider3
    +rangeSlider(
      {
        topic : "Обычный, единичное значение",
        id : "idSlider3",
      }
    )
    +sliderConfig({ id : "3" })

  .slider__item.slider4
    +rangeSlider(
      {
        topic : "С шагом, диапазон",
        id : "idSlider4",
      }
    )
    +sliderConfig({ id : "4" })

  .slider__item.slider5
    +rangeSlider(
      {
        topic : "Обычный, от начала до Х",
        id : "idSlider5",
      }
    )
    +sliderConfig({ id : "5" })

  script(src="./js/page-demo-sliders.js")