extends ~@Blocks/layout/layout.pug
include ~@Blocks/link/link.pug

block links
  link(rel="stylesheet" type="text/css" href="./css/index.js.css")

block content
  .start-page
    h2 Страницы со слайдерами:
    .start-page__links
      .start-page__link
        +link(
          {
            text : "Слайдеры",
            url : "./page-demo-sliders.html",
          }
        )
      .start-page__link
        +link(
          {
            text : "Тесты",
            url : "./tests-slider.html",
          }
        )
  script(src="./js/index.js")